// Place all the styles related to the Receipts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.field,
div.actions {
  margin-bottom: 10px;
  margin-left: 200px;
  margin-top: 25px; } 