<header>
	<div>
		<nav>
			<li><%= link_to "Receipts", receipts_path, class: 'nav-link' %> <%= link_to "Expense Types", expense_type_show_path, class: 'nav-link' %></li>
		</nav>
	</div>
</header>